@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #939393;
}

.wrapper {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  height: 100%;
}

header {
  position: relative;
  width: 908px;
  padding: 17px 6px 8px 6px;
}


.phone {
  display: inline-block;
}

.ph {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background: #0f3b60;
  text-align: center;
  vertical-align: middle;
  margin-top: 2px;
}

.phone p {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #5e696d;
  vertical-align: top;
  margin-right: 4px;
  margin-top: 1px;
  letter-spacing: 0.3px;
}


.authorization{
  display: inline-block;
  background: rgba(31,102,133,1);
  background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(13,52,88,1) 100%);
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 9px;
  box-shadow: 3px 3px 5px #b4b4b4;
}

.authorization img {
  padding-left: 8px;
  vertical-align: middle;
}

.authorization input[type=text] {
    width: 105px;
    font-size: 10px;
    line-height: 15px;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    color: #97a2a6;
    border-radius: 1px;
    vertical-align: middle;
    margin-left: -2px;
    padding: 0px 2px 0px 4px;
    margin-top: -1px;
}

.authorization input[type=password] {
  width: 103px;
  font-size: 10px;
  line-height: 15px;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  color: #97a2a6;
  padding-right: 3px;
  padding-left: 5px;
  border-radius: 1px;
  vertical-align: middle;
  margin-left: 3px;
  padding: 0px 3px 0px 5px;
  margin-top: -1px;
}

.authorization input[type=submit] {
  color: #fff;
  font-size: 11px;
  line-height: 12px;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  background: transparent;
  border: none;
  vertical-align: middle;
  letter-spacing: -0.4px;
  padding: 1px 2px 3px 4px;
}

.authorization input:placeholder  {
  margin-left: 2px;
  padding-left: 0px;
}

.reg a{
  color: #fff;
  font-size: 11px;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: -0.3px;
  margin-left: -1px;
  
}

.reg a:hover{
  text-decoration: underline;
  vertical-align: middle;
  
}
 .reg a:before{
  overflow: hidden;
  content: "";
  border-left: 1px solid #fff;
  margin-right: 5px;
} 

.forgot a{
  color: #bfbfbf;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  line-height: 28px;
  vertical-align: middle;
  padding: 0px 9px 0px 18px;
}

.icons {
  display: inline-block;
  border: 1px solid #c1c8cb;
  border-radius: 10px;
  padding: 0px 6px 3px 6px;
  margin-left: 13px;
  margin-top: 2px;
  vertical-align: top;
  line-height: 17px;
}

.icons a {
  padding: 0 3px;
}

.menu{
  position: relative;
  background: linear-gradient(to bottom, rgba(77,86,99,1) 0%, rgba(70,77,84,1) 5%, rgba(1,1,1,1) 100%);
  height: 34px;
  border: 1px solid #2c345a;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  margin-top: 3px;
  margin-bottom: 8px;
  margin-left: -2px;
}

nav {
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  margin-left: 131px;
  padding: 0px 2px;
}


.menu li{
  display: inline-block;
  padding: 0px 4px;
}

.menu li:first-child {
 margin-right: 5px;
} 

 .menu li:last-child {
  margin-left: -5px;
} 
 
.menu li a{
  display: block;
  font-size: 13.67px;
  color: #b1bcc0;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 9px;
}

.menu li a:hover{
  display: block;
  font-size: 13.67px;
  color: #fff;
  line-height: 15px;
  background: linear-gradient(to bottom, rgba(31,103,135,1) 0%, rgba(13,52,88,1) 100%);
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 10px;
}

.basket {
  position: relative;
  display: inline-block;
  margin-left: 57px;
  margin-top: 6px;
  height: 34px;
}

.baskimage {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.basket span {
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #929b9f;
  vertical-align: middle;
  letter-spacing: 0.4px;
}

.scr {
  margin-right: 10px;
}

.scr a{
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #0d5a8f;
  text-decoration: none;
  margin-left: -2px;
}

.itogo {
  vertical-align: middle;
}

.itogo a{
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #0d5a8f;
  text-decoration: none;
  margin-left: 7px;
  letter-spacing: 0.7px;
}

.container {
  position: relative;
  padding: 0px 46px;
}

.sidebar-left {
  width: 192px;
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  margin-top: -5px;

}

.center {
  width: 526px;
  float: left;
  position: relative;
  background: rgba(228,231,232,1);
  background: linear-gradient(to bottom, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
  border-radius: 5px;
  margin: 1px 0px 0px -3px;
}

.sidebar-right{
  width: 190px;
  float: right;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  margin-top: -7px;

}


.left-head .img {
    width: 21px;
    height: 21px;
    background: #124367 url(../image/menucatalog.png) center no-repeat;
    border-radius: 11px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 5px;
}

.left-head {
  border: 1px solid #8b979c;
  border-radius: 20px;
  margin: 10px 12px 13px -2px;
  box-shadow: 2px 2px 5px #999999;
}

.left-head p {
  font-size: 12.73px;
  line-height: 26px;
  color: #114165;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.content {
  position: relative;
  overflow: hidden;
  margin: 6px 0px 15px 0px;
}

.left-menu {
  width: 150px;
}

.submenu1 {
  width: 99%;
  border: 1px solid #8b979c;
  border-radius: 12px;
  margin-bottom: -1px;
}

.submenu2 {
  width: 99%;
  border: 1px solid #8b979c;
  border-radius: 20px;
  margin-top: -2px;
  margin-bottom: -1px;
}

.submenu3 {
  width: 99%;
  border: 1px solid #8b979c;
  border-radius: 20px;
  margin-top: -3px;
}

.submenu4 {
  width: 100%;
  border: 1px solid #8b979c;
  border-radius: 12px;
  margin: 13px 0px 0px 6px;
}

submenu4 .circle {
  margin: 3px -2px -6px 5px;
}

.submenu4 span {
  margin-left: 2px;
}

.submenu5 {
  width: 100%;
  border: 1px solid #8b979c;
  border-radius: 12px;
  margin: 9px 0px 0px 6px;
}

.submenu5 .circle {
  margin: 3px -2px -6px 3px;
}

.submenu5 span {
  margin-left: 3px;
}


.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  color: #fff;
  border-radius: 100%;
  border: 5px solid #114165;
  margin: 3px -2px -6px 4px;
}

.submenu1, .submenu2, .submenu3, .submenu4, .submenu5 span {
  font-size: 14px;
  line-height: 25.46px;
  color: #114165;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  text-transform: uppercase;
}

.left-menu li{
  width: 130px;
  line-height: 25.46px;
  margin-left: 34px;
}

.left-menu li:before {
  content: "\25cb";
  margin-top: 1px;
}

.left-menu li a{
  display: inline-block;
  font-size: 12.73px;
  color: #465961;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  text-decoration: none;
  margin-left: 1px;
}

.left-menu li a:hover {
  color: #2f4966;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}


.right-head {
  border: 1px solid #8b979c;
  border-radius: 12px;
  margin: 10px 2px 10px 7px;
  box-shadow: 2px 2px 5px #999999;
}

.right-head .img {
  width: 21px;
  height: 21px;
  background: #124367 url(../image/menucatalog.png) center no-repeat;
  border-radius: 11px;
  float: left;
  margin-top: 1px;
  margin-left: 3px;
  margin-right: 5px;
}

.right-head p {
  font-size: 12.73px;
  line-height: 26px;
  color: #114165;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.right-menu {
  width: 150px;
  position: relative;
}

.right-menu form {
  margin-left: 15px;
}

.check {
  font-size: 12.73px;
  line-height: 25px;
  color: #465961;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  margin: 3px 0px 0px 13px;

}

.check input {
  vertical-align: middle;
}

.check input[type=checkbox] {
  border: 1px solid #1c4360;
  }

.check label {
  margin: 0px 0px 0px 8px;
}

.check2 {
  font-size: 12.73px;
  line-height: 25px;
  color: #465961;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  margin: 5px 0px 0px 13px;
}

.check2 input {
  vertical-align: middle;
}

.check2 label {
  margin: 0px 0px 0px 8px;
}

.submit input {
  background: linear-gradient(to top, #0c3357, #1f6787);
  border: 1px solid #7a95a1;
  padding: 5px 12px 7px 12px;
  color: #fff;
  border-radius: 13px;
  margin-left: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: 1px 2px 3px #a5a5a5;
  letter-spacing: 0.9px;
}

.product {
  width: 527px;
  background: linear-gradient(to top, #94a7b0, #e4e7e8);
  float: left;
  margin-left: -2px;
  margin-top: 1px;
  margin-bottom: 37px;
  border-radius: 2px;
  padding-top: 16px;
}
.product section {
  float: left; 
  text-align: center;
  margin-bottom: 26px;
}

.product .goodyear {
  margin-left: 23px;
}

.product .goodyear > p {
 /* letter-spacing: 1.1px;*/
}

.product .goodyear:nth-child(7) {
  margin-top: 1px;
  margin-bottom: 30px;
}

.product .nokian {
  margin-left: 30px;
}

.product .nokian > p {
  padding-left: 2px;
  /*letter-spacing: 1.2px;*/
}

.product .nokian h1 a {
  padding-left: 3px;
}

.product .nokian:nth-child(8) {
  margin-top: 3px;
  margin-bottom: 22px;
}

.product .henkook {
  margin-left: 30px;
}

.product .henkook h1 a {
  padding-left: 4px;
}

.product .henkook:nth-child(9) {
  margin-top: 3px;
  margin-bottom: 22px;
}

.product section p {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  line-height: 16px;
  /*letter-spacing: 0.5px;*/
}

.product h1 {
  line-height: 12px;
}

.product h1 a {
  font-size: 14.5px;
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  color: rgb( 32, 105, 136 );
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.digit {
  font-size: 16px;
  color: #114165;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-style: italic;
  margin-left: 9px;
}

.grn {
  font-size: 12px;
  color: #114165;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, sans-serif;
  margin-left: 4px;
}

.price {
  margin-top: 3px;
}

.product article {
  margin: 0;
}

.product article p {
  width: 138px;
  height: 129px;
  box-sizing: border-box;
  border: 1px solid #a7b1b4;
  border-radius: 6px;
  line-height: 125px;
  text-align: center;
  background: #fff;
}

.product article img {
  vertical-align: middle;
  padding: 5px 28px;
}

.partners {
  clear: both;
  margin: -14px 0px 24px 116px;
}

.bridgestone {
  margin-bottom: 7px;
  margin-left: 7px;
}

.continental {
  margin-left: 9px;
}

.dooper {
  margin-bottom: 1px;
  margin-left: 12px;
}

.avon {
  margin-bottom: 7px;
  margin-left: 7px;
}

.tire {
  margin: 2px 0px -3px 10px;
}

.pirelli {
  margin-bottom: 6px;
  margin-left: 8px;
}

.dunlop {
  margin-bottom: 8px;
  margin-left: 12px;
}

footer {
  position: relative;
  height: 100px;
  background: #213a4d;
  text-align: center;
  margin-top: 10px;
}

.footermenu {
  padding-top: 9px;
}

.footermenu a {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #bec6c9;
  line-height: 11px;
  border-right: 1px solid #afb7bc;
  padding-left: 10px;
  padding-right: 11px;
  text-decoration: none;
  letter-spacing: 0.4px;
}

.footermenu a:first-child {
  margin-left: 6px;
}

.footermenu a:last-child {
  margin-left: 3px;
  border: none;
}

.footermenu a:hover {
  color: #52abcb;
}

.copyright {
  font-size: 10px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #7f4740;
  margin-top: 13px;
  letter-spacing: 0.3px;
}

